body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.notification {
  font-family: "Helvetica Neue", serif;
  color: green;
  background: lightgray;
  font-size: 20px;
  margin: 2px;
  padding: 10px;
  border: green;
  border-width: 2px;
  border-style: groove;
}

.error {
  font-family: "Helvetica Neue", serif;
  color: red;
  font-weight: bold;
  background: lightslategray;
  font-size: 25px;
  margin: 2px;
  padding: 10px;
  border: red;
  border-width: 3px;
  border-style: ridge;
}
